.env*
.direnv/

# Python
.venv/
__pycache__/ 
*.pyc


# Terraform
.terraform*
terraform.*
!.terraform.lock.hcl
!*.enc

# Talos/k8s
kubeconfig
talosconfig
controlplane.yaml
worker.yaml
cilium.yaml
secrets.yaml

vendor/

# Dagger
sdk/
