machine:
  type: {%- if control %} controlplane {% else %} worker {% endif %}
  network:
    hostname: {{ hostname }}.k8s.kgb33.dev
    nameservers:
    {%- for ns in nameservers %}
        - {{ ns -}}
    {%- endfor %}
  kubelet:
    extraArgs:
      authentication-token-webhook: true
      authorization-mode: Webhook
{%- if control %}
cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests:
    - https://raw.githubusercontent.com/alex1989hu/kubelet-serving-cert-approver/main/deploy/standalone-install.yaml
    - https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
{% endif %}
